<div class="convers">
  <div class="messtitle">
    <h1>Messenger</h1>
  </div>

  <div class="messboxes">
    <div class="mess">
      <% if @users_with_conversation.empty? %>
        <br>
        <h3>You don't have any conversation yet</h3>
      <% else %>

        <br>
      <div class="scroll"id="sc">
      <% @users_with_conversation.each do |user| %>
        <div class="convbox ">
          <div class="ok"></div>
          <%= link_to user_messages_path(user) do %>
            <% if user.firstname?  %>
              <p> <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1668678937/wantedpets/discuter_slf3lp.png', width:30 %> <%= user.firstname %> </p>
            <% else %>
              <p> <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1668678937/wantedpets/discuter_slf3lp.png', width:30 %> <%= user.email %></p>
            <% end %>
          <% end %>
          </div>
          <% end %>
      <% end %>
      </div>
    </div>

  </div>

</div>
