<div class="editpet">

  <%= simple_form_for @pet do |f| %>
    <%= f.select :status, Pet::OPTIONS %>
    <%#= f.input :status, placeholder:"Lost or Found" %>
    <%= f.input :event_date %>
    <%= f.input :name %>
    <%= f.input :age %>
    <%= f.input :specie %>
    <%= f.input :breed %>
    <%= f.input :color %>
    <%= f.input :email %>
    <%= f.input :tel%>
    <%= f.input :details %>
    <%= f.input :address %>
    <% f.input :current_user_id, input_html: {value: params[:current_user_id]} %>

  <br>
  <%= f.button :submit %>
<% end %>

</div>
