<div class="petcreation">

  <div class="createform">
    <%= simple_form_for @pet do |f| %>

      <div class="totalform">
        <div class="leftform">
        <%= f.select :status, Pet::OPTIONS %>
          <%= f.input :photo, as: :file %>

            <%#= f.input :status, placeholder:"Lost or Found" %>
            <%= f.input :event_date %>
            <%= f.input :city %>
            <%= f.input :address,
                input_html: { data: { geocoder_target: "address" } },
                wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
        </div>

        <div class="middleform">
          <%= f.select :sex, Pet::SEX %>
            <%= f.input :name %>
            <%= f.input :age %>
            <%= f.input :specie %>
            <%= f.input :breed %>
            <%= f.input :color %>
        </div>
        
        <div class="rightform">
          <%= f.input :details %>
          <p>Contact: </p>
          <%= f.input :email %>
          <%= f.input :tel%>
          <% f.input :current_user_id, input_html: {value: params[:current_user_id]} %>
          <br>
          <%= f.button :submit%>
          <% end %>
        </div>

      </div>

  </div>

  <div class="createimg">

  </div>



</div>
