
    <div class="pet-infos">
      <ul>
        <li><% if @pet.photo.attached?%>
                  <%= cl_image_tag @pet.photo.key, height: 160, width: 160, crop: :fill %>
              <%else %>
                <% image_tag 'https://res.cloudinary.com/dhxefoe7j/image/upload/v1668206144/wantedpets/pawprint_q6euzv.png', height: 160, width: 160, crop: :fill %>
              <%end %>
        </li>
        <li><%= @pet.status %></li>
        <li> <%= @pet.event_date %> </li>
        <li> <%= @pet.city %> </li>
        <li><%= @pet.name %></li>
        <li><%= @pet.specie %></li>
        <li><%= @pet.breed %></li>
        <li><%= @pet.color %></li>
        <li><%= @pet.age %></li>
        <li><%= @pet.address %></li>
        <li><%= @pet.email %></li>
        <li><%= @pet.tel %></li>
        <li><%= @pet.details %></li>
      </ul>
      <% if @pet.user_id == current_user.id %>
        <%= link_to "Edit", edit_pet_path(@pet.id) %>
        <%= link_to "destroy", pet_path(@pet.id), method: :delete %>
      <% end %>
    </div>


<%= link_to "back", pets_path %>
