<div class="mypage">

  <div class="myup col-md-12 col-sm-3">
    <div class="mytxt">
      <h1>Where is my pet ?</h1>
      <h4> Welcome back <span><%= current_user.email %></span> <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1668239069/wantedpets/waving-hand_vzrzl0.png', width:'30px' %> </h4>
    </div>
    <div class="silouhettes">
      <%= image_tag 'https://res.cloudinary.com/dhxefoe7j/image/upload/v1668280432/wantedpets/profile_bkground_2_yxczh6.png', width:'250px' %>
    </div>
  </div>
  <br>
  <br>
  <div class="mygrid ">
      <div class="myprofile">
        <h3><%= link_to "My Profile", user_path(@user) %></h3>
      </div>
      <div class="myposts">
        <h3><%= link_to "My Posts", my_posts_path %></h3>
      </div>
      <div class="lostnfound">
        <h3><%= link_to "Lost & Found", pets_path %></h3>
      </div>
      <div class="messages">
        <h3><%= link_to "Messages", messages_conversations_path %></h3>
      </div>
  </div>

  <div class="BannerRandom ">
    <%= image_tag'' %>

  </div>
</div>
